name: CI

on:
  - pull_request

permissions:
  contents: read

env:
  # Enable backtraces for easier debugging
  RUST_BACKTRACE: 1

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: clippy

      - name: Download and install GCC fork
        run: |
          curl -LO https://github.com/antoyo/gcc/releases/latest/download/gcc-13.deb
          sudo dpkg --force-overwrite -i gcc-13.deb

      - name: Set env
        run: |
          echo "workspace="$GITHUB_WORKSPACE >> $GITHUB_ENV

      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry2-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache cargo index
        uses: actions/cache@v3
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache cargo target dir
        uses: actions/cache@v3
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('rust-toolchain') }}

      - name: Build
        run: |
          cargo build
          cargo build --features master
          cargo build --examples

      - name: Test
        run: |
          cd examples/factorial
          cargo build

      - name: clippy
        run: |
          cargo clippy --all-targets -- -D warnings
          cargo clippy --all-targets --features master -- -D warnings
